<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Creer-zones</title>

    <link href="/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
</head>
<body>
  
 
<!--  page fichier header -->
  
  <div class="contener">

    <br> 
    
    <div class="box">  
    <h2>Create Zone</h2>
    <!--  form envoye un post en '/'page acceuille -->
            <form action="creer" method="post" > 
                <div class="form-group">
                <input type="text" class="form-control" id="zone"   placeholder=" zone" required name="zone" >
                </div><br>

                <div class="form-group">
                <input type="text" class="form-control" id="info"   placeholder=" info" required name="info" >
                </div><br>

                <div class="form-group">
                    <input type="text" class="form-control" id="identification"   placeholder=" identification" required name="idetification" >
                </div><br>

                <div class="form-group">
                <input type="text" class="form-control" id="type"   placeholder=" type" required name="type" >
                </div>
                <br>

                <div class="block-boutton">
                    <button id="ajout-zones" class="btn btn-primary bouton-submit" type="submit">Ajouter</button>  
                </div>
        </form>
    </div>
    
     <br>
     
     

 </div>


</body>
</html>  


