<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>pratique</title>

    <link href="/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
</head>
<body>
  
 
<!--  page fichier header -->
<%- include('header'); %>
  <div class="contener">
    
    <br> 
    <!--<% if(locals.flash && locals.flash.error) {%>
            <div class="alert alert-danger" role="alert"> <%= locals.flash.error %> </div> 
    <% } %> -->
    
    <!--  form envoye un post en '/'page acceuille -->
    <form action="creer" method="post" enctype="multipart/form-data"  > 

  

            <div class="form-group">
              <label for="exampleInput">Entrer Nom :</label>
              <input type="text" class="form-control" id=""   placeholder=" nom" required name="nom" >
            </div>

            <div class="form-group">
              <label for="exampleInput">Entrer Adresse : </label>
              <input type="text" class="form-control" id=""   placeholder=" adresse" required name="adresse" >
            </div>

            <div class="form-group">
              <label for="exampleInput">Entrer Description :</label>
              <input type="text" class="form-control" id=""   placeholder=" description" required name="description" >
            </div>

            <div class="form-group">
              <label for="exampleInput"> Fichier :</label>
              <input type="file" class="form-control"  id ="input-image" accept="image/*" required name="myImage" />
            </div>
           
            <br>
           
            <button type="submit" class="btn btn-primary ">Submit</button>
     </form>
    

 </div>
   
 

</body>
</html>  


