<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>voir-users</title>

    <link href="/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
</head>
<body>
  
 
<!--  page fichier header -->
  <div class="contener">
    <br> 
    
    <h1>Nom :<%= dataVoir.nom %></h1>
    <h3>Contact :<%= dataVoir.contact %></h3>
    <h3>Email :<%= dataVoir.email %></h3>

    


 </div>


</body>
</html>  


